body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-size: 14px;
    background-color: black;
}

#container {
    width: 750px;
    height: 750px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;/
}

#grid {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
}

button,
input {
    margin: 14px 0;
    padding: 12px;
    border-radius: 16px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btn {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.color-btn {
    width: 90px;
}
input{
    width: 62px;
}

.color-btn,
#reset,
#toggle,
#random,
#opacity {
    cursor: pointer;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    background-color: grey;
    box-sizing: border-box;
}

.border-cell {
    border: 1px solid black;
}

#toggle.pushed-state {
    background-color: aquamarine;
}

#colors{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
#changes{
    display: flex;
    justify-content: flex-end;
}
#toggle{
    width: 120px;
}

@media screen and (max-width: 950px) {
    #container{
        height: 370px;
        width: 370px;
    }    
    body{
        flex-direction: column;        
    }
    #btn{
        margin: 20px;
    }

    #colors{
        flex-direction: row;
        margin: 0;
        flex-wrap: wrap;
    }
}